@charset "UTF-8";

/* reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

textarea {
    font-size: 100%;
    vertical-align: middle;
}

img {
    border-style: none;
    display: block;
}

hr {
    display: none;
}

em {
    font-style: normal
}

input {
    line-height: auto;
    vertical-align: middle;
}

strong.more {
    color: #c30
}

a {
    text-decoration: none;
}

html {}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* 上の部分は気にせずここから書く */


/* 共通 */


/* ■■■■■■■　確認用色付け　■■■■■■■ */

body {
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

header {
    padding: 10px;
    background-color: rgb(168, 252, 213);
    margin-bottom: 10px;
}

nav {
    margin: 30px 0;
    background-color: rgb(168, 252, 213);
}

#display-div {
    margin: 10px 0;
    width: 100px;
}

main {
    background-color: rgb(233, 233, 233);
    margin-bottom: 10px;
}

footer {
    background-color: #4c4c4c;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 20px auto;
    text-align: center;
    font-size: 80%;
}

.dummy_header,
.dummy_footer {
    height: 100px;
}


/* ■■■■■■■　確認用色付け　■■■■■■■ */

header {
    /* height: 500px; */
}

nav,
ul {
    list-style: none;
    overflow: hidden;
}

li {
    /* width: 140px;
    text-align: center;
    background-color: #333; */
    float: left;
    /* height: 50px;
    line-height: 50px;
    margin-right: 2px; */
    margin-right: 20px;
}

.to_login,
.to_signup {
    text-align: right
}

.required,
.error-message {
    color: red;
    font-size: 80%;
    font-weight: bold;
}

table.viewhand-table {
    width: 100%;
    margin: 0% auto;
    border-radius: 16px;
    border: 1px solid #ccc;
    font-size: 80%;
}

table.viewhand-table th,
table.viewhand-table tr,
table.viewhand-table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.white-space-nowrap {
    white-space: nowrap;
}


/* 奇数行のスタイル */

table.viewhand-table th {
    background-color: #dadada;
}


/* 奇数行のスタイル */

table.viewhand-table tr:nth-child(odd) {
    background-color: #f0f0f0;
}


/* 偶数行のスタイル */

table.viewhand-table tr:nth-child(even) {
    background-color: white;
}

.text-align-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
    opacity: 0.2;
}


/* .cursor-pointer:hover {
    opacity: 1.0;
} */

.cursor-pointer-opacity-1 {
    opacity: 1.0;
}


/* Set the size of the div element that contains the map */

#map {
    /* height: 400px; */
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}